In [1]:
# General format
# var_name = [FUNCTION(INDEX_NAME) for INDEX_NAME in ITEMS if CONDITION]

In [2]:
# Basic example traversing numbers 0 - 19.
start = 0
finish = 20

In [3]:
# list comprehension goes from 0 - 19
[i for i in range(start, finish)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# for loop equivalent, takes longer to write.
lst_non_comp = []

for i in range(start, finish):
    lst_non_comp.append(i)

lst_non_comp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
# Traversing numbers 0 - 19, filtering out odd numbers.
[i for i in range(start, finish) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
# Regular for loop equivalent

lst_non_comp = []

for i in range(start, finish):
    if i % 2 == 0:
        lst_non_comp.append(i)

lst_non_comp

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# applying an operation on the values in the list
[i * 2 for i in range(start, finish)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
# for loop equivalent

lst_non_comp = []

for i in range(start, finish):
    lst_non_comp.append(i * 2)

lst_non_comp

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [14]:
# applying a function on the values in the list
[chr(i + 65) for i in range(start, finish)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T']

In [15]:
# for loop equivalent

lst_non_comp = []

for i in range(start, finish):
    lst_non_comp.append(chr(i + 65))

lst_non_comp

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T']

In [17]:
# inserting the values in a tuple in the list
s = "hello"

In [ ]:
# using a tuple in the list comprehension
[(i, s) for i in range(start, finish)]

In [ ]:
# for loop equivalent

lst_non_comp = []

for i in range(start, finish):
    lst_non_comp.append((i, s))

lst_non_comp

In [ ]:
# using comprehension for a set
set(i for i in range(start, finish))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [25]:
set_non_comp = set()

for i in range(start, finish):
    set_non_comp.add(i)

set_non_comp

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [ ]:
# using comprehension for a tuple
tuple(i for i in range(start, finish))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
# for loop equivalent, note: this makes a new tuple on every iteration, since tuples are immutable
set_non_comp = tuple()

for i in range(start, finish):
    set_non_comp += (i,)

set_non_comp

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [18]:
# inserting the values in a dict
{i: chr(i + 65) for i in range(start, finish)}

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T'}

In [ ]:
# for loop equivalent
dct_non_comp = {}

for i in range(start, finish):
    dct_non_comp[i] = chr(i + 65)

dct_non_comp

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T'}